<!-- First  -->
<!-- Hello World Angular
This is my title {{title}}
<br/>
My village ninja's name is {{ninjaName}}

<button type="button" (click)="ninjaConsole()">Console ninja</button>
<button type="button" (click)="changeNinjaName('sakura')">Change ninja to Sakura</button> -->

<!-- Project Buffet -->
มา 4 จ่าย 3
<div>
  <input type="text" #priceBuffetInput placeholder="ราคา">
  <button type="button" (click)="calcBuffet(priceBuffetInput.value)">คำนวน</button>
</div>

<span>คนละ {{value}} บาท</span>